.songRow {
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.songRow:hover {
  cursor: pointer;
  background-color: rgba(150, 150, 150, 0.2);
  /* opacity: 0.5; */
}

.songRow:hover .songRow_info > p,
.songRow:hover .songRow_center > p {
  color: white;
}

.songRow_left {
  display: flex;
  flex: 0.5;
}

.songRow_info {
  margin-left: 20px;
}

.songRow_info > h1 {
  font-size: 16px;
}

.songRow_info > p {
  font-size: 14px;
  margin-top: 3px;
  color: gray;
}

.songRow_album {
  height: 40px;
  width: 40px;
}

.songRow_center > p {
  font-size: 14px;
  margin-top: 3px;
  color: gray;
}

.songRow_center {
  flex: 0.4;
}

.songRow_right {
  flex: 0.1;
}

.songRow_right > p {
  font-size: 14px;
  margin-top: 3px;
  color: gray;
}
